<!doctype html>
<html>
    <head>
        <title>商品情報収集</title>
    <!-- JqueryのJS読み込み -->
    <script src="static/js/jquery.min.js"></script>
    <!-- BootstrapのCSS読み込み -->
    <link href="static/css/bootstrap.css" rel="stylesheet"><link rel="stylesheet" href="./style.css">
    <!-- BootstrapのJS読み込み -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- vueのJS読込 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script> 
    </head>
    <body>
    <!-- 全体 -->
    <div id="body" class="mx-auto">
        <!-- 購入商品選択コンテナ -->
        <div class="container">
            <h2 class="jumbotron-heading pt-2">商品情報収集</h2>
        </div>
        <div class="container shadow p-3 mb-3 bg-white rounded">
            <h5 class="jumbotron-heading">カテゴリ選択</h5>
            <div  id="header" class="form-row justify-content-center">
                <!-- カテゴリ選択 -->
                <div class="col-sm-7 m-1">
                    <label>カテゴリ選択</label> 
                    <div>
                        <select v-model="selected_category" class="custom-select mr-sm-2">
                            <!-- valueをobjectにすれば操作しやすい -->
                            <option v-for="(item, index) in category_url_list" :key="index" v-bind:value="item">
                                {{item.category_name}}
                            </option>
                        </select>
                    </div>
                </div>
                <!-- 最新のカテゴリを取得ボタン -->
                <div class="col-sm-4 m-1">
                    <label class="invisible">カテゴリ更新ボタン</label>
                    <button type="button"class="btn btn-link" data-toggle="tooltip" data-placement="top" title="最新のカテゴリを取得します。" @click="updateCategory">カテゴリ更新</button>
                </div>
            </div>
        </div>
        <div class="container mb-3">
            <div class="form-row justify-content-end">
                <!-- 文章クリア -->
                <button type="button" class="col-sm-3 m-1 btn btn-success" @click="scraping">商品情報収集</button>
            </div>
        </div>
        <!-- ログ -->
        <div class="container shadow px-2 py-3 mb-3 bg-white rounded">
            <div class="form-inline justify-content-center">
                <textarea class="form-control col-sm-11 small" id="processLog" rows="10"></textarea>
            </div>
        </div>
    </div>

        <script type="text/javascript" src="./eel.js"></script>
        <script src="srcipt.js"></script>
        <script>

            // 選択済の商品
            const selectedItem = new Vue({
                el: "#body",
                data() {
                    return {
                        category_table_url: "",
                        category_url_list: [],
                        selected_category: "",
                        log: ""
                    }
                },
                mounted: async function() {
                    this.category_table_url = await eel.get_category_table_url_master()();
                    this.category_table_url = this.category_table_url[0].amazon_category_url
                    this.category_url_list = await eel.get_category_master()();
                    this.selected_category = this.category_url_list[0];
                },
                methods: {
                    // 翻訳する
                    scraping: async function() {
                        console.log(this.selected_category)
                    },
                    updateCategory: async function() {
                        console.log(this.category_table_url);
                        this.category_url_list = await eel.update_category(this.category_table_url)();
                        this.selected_category = this.category_url_list[0];
                    }
                }

            });

            // ログの出力
            eel.expose(writeLog)
            function writeLog(text) {
                document.getElementById("processLog").value += text + "\n";
            }

        </script>
    </body>
</html>